input{
    display:block;
    margin-bottom: 10px;
}
.thumbnail{
    width:400px;
    border-radius: 10px;
}
p{
    width: 400px;
}
.video-preview{
    width:400px;
    display: inline-block;
    margin-right: 10px;
}