p{
    margin: 0%;
}
input{
    display:block;
    margin-bottom: 10px;
}
.thumbnail{
    width:400px;
    border-radius: 10px;
}
.video-preview{
    width:400px;
    display: inline-block;
    margin-right: 10px;
}
.channel-picture{
    display: inline-block;
    width:50px;
    vertical-align: top;
}
.profile{
    width:100%;
}
.video-content{
    display: inline-block;
}